RewriteEngine On
# ^后面定义url的形式(用正则表达式)要熟悉RegExp

# 为什么第一个重写不需要有action=？一个文件就不需要
RewriteRule ^api/([a-zA-Z_-]*)$ api.php?name=$1 [NC,L]


RewriteRule ^add/([a-zA-Z_-]*)/([0-9]*)$ add.php?action=add&name=$1&quantity=$2 [NC,L]
RewriteRule ^product/([0-9]*)$ product.php?&id=$1 [NC,L]
RewriteRule ^update/([0-9]*)/([0-9]*)$ update.php?action=update&id=$1&new_quantity=$2 [NC,L]
RewriteRule ^delete/([0-9]*)$ delete.php?action=delete&id=$1 [NC,L]
